@import url(fields/index.css);

form {
  margin-top: 48px;
}

fieldset {
  border: none;

  display: grid;
  gap: 24px;
}

legend {
  font: 600 1rem/1.25 var(--font-family);
  margin-bottom: 24px;
}

fieldset + fieldset {
  margin-top: 48px;
}
